  {{!-- <h5> Start you search here ✈</h5>

<div class="dropdown">
 <div class="select">
  <span class="selected">Select Nationality</span>
  <div class="caret"></div>
 </div>
 <ul class="menu">
<li class="active">American</li>
<li>Canadian</li>
<li>Korean</li>
<li>British</li>
<li>Vietneamese</li>
<li>Australian</li>
<li>Brazilian</li>
<li>Emirati</li>
<li>Mexican</li>
<li>Dutch</li>
<li>Spanish</li>
<li>Chinese</li>
<li>German</li>
<li>Moroccan</li>
<li>Scottish</li>
<li>Japanese</li>
<li>Italian</li>
<li>Indian</li>
 </ul>
    </div>
 
 <div class="dropdown">
 <div class="select">
  <span class="selected">Select Gender</span>
  <div class="caret"></div>
 </div>
 <ul class="menu">
<li class="active">Gender</li>
<li>Female</li>
<li>Male</li>
 </ul>
    </div>

    <form>
      <input type="text" id="search-loc-term">
      <button id="location">submit</button>
    </form>
<div id="result">

</div>

<script src="/js/dropdown.js"></script>
<script src="/js/loc-data.js"></script>






 --}}



<div class ="icons-container">
    <div class="icons">
        <i class="fas fa-map"></i>
        <span> Some featured locations</span>

    </div>
    <div class="icons">
        <i class="fas fa-hand-holding-usd"></i>
        <span> prices based on your budget</span>

    </div>

</div>

<section id = "featured" class= "py-4">
  <div class="container">
      <div class="title-wrap">
        <span class ="sm-title">
          Some featured places by other users: 
        </span>
        <h2="lg-title">featured places</h2>
      </div>
<div class="featured-row">
  <div class = "featured-item my-2 shadow">
    
    <img src="">
      <span>
        <i class="fas
        fa-map-marker-alt"></i>
      
        Rio de Janeiro, Brazil
      </span>
      <div>
        <p> Rio de Janeiro has been visted by some users, you can click on here to add Brazil to your list of future destinations</p>
      </div>
    </div>
  </div>

  <div class = "featured-item my-2 shadow">
    <img src="/images/London.jpeg" alt="featured place">
    <div class="featured-item-content">
      <span>
        {{!-- <i class="fas
        fa-map-marker-alt"></i> --}}
        London, UK
      </span>
      <div>
        <p>London has been visted by some users, you can click on here to add Brazil to your list of future destinations</p>
      </div>
    </div>
  </div>

  <div class = "featured-item my-2 shadow">
    <img src="/images/Thailand.jpeg">
    <div class="featured-item-content">
      <span>
        <i class="fas
        fa-map-marker-alt"></i>
        Phuket, Thailand
      </span>
      <div>
        <p> Phuket has been visted by some users, you can click on here to add Brazil to your list of future destinations</p>
      </div>
    </div>
  </div>

  <div class = "featured-item my-2 shadow">
    <img src="/images/Indonesia.jpeg" alt="featured place">
    <div class="featured-item-content">
      <span>
        <i class="fas
        fa-map-marker-alt"></i>
        Bali, Indonesia
      </span>
      <div>
        <p>Bali has been visted by some users, you can click on here to add Brazil to your list of future destinations</p>
      </div>
    </div>
  </div>
</div>
</section>


<script src="/js/dropdown.js"></script>
<script src="/js/loc-data.js"></script>