
<h2>Welcome to TravelKART!</h2>
<p>With this website, you can access a catalog of places to visit</p>
<h1>Choose your travel location:</h1>
<form class="flex">
    <input type="text" class="form-control" placeholder="fill in destination of your choice">
    <input type="date" class="form-control" placeholder="date">
    <input type="number" class="form-control" placeholder="price($)">
    <input type="submit" class="btn" value="search">

</form>


