{{!-- <h1>Results</h1>

<ul>
  {{#each locations}}
    <li>{{name}}</li>
  {{/each}}
</ul> --}}

<!-- results.handlebars -->

{{!-- <ul>
  {{#each resultsData}}
    <li>{{this}}</li>
  {{/each}}
</ul> --}}

<h1>Reviews</h1>
{{!-- <p>hello</p> --}}

{{!-- <section class="reviews">

  <h1 class="heading-title"> clients reviews </h1> --}}

  {{!-- <div class="swiper reviews-slider">

    <div class="swiper-wrapper">

      <div class="swiper-slide slide">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>
    </div> --}}
    {{!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus facilis
      laudantium magnam saepe magni ullam possimus laborum voluptas, veniam
      ipsum officiis quae doloribus minima ut quis. Molestiae qui distinctio
      possimus?</p>
    <h3>Traveller1</h3> --}}
    {{! <img src="images/travelKART1.png" alt=""> }}

  {{!-- </div> --}}

{{!-- </section> --}}

<section class=" reviews">
    <div class=" swiper reviews-slider">
        <div class="swiper-wrapper">
            <div class="slide">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    
                   Culpa possimus laboriosam odit provident nemo, voluptatum perferendis. Temporibus dicta omnis animi maiores enim ab 
                   fugiat doloremque dolores accusamus molestiae, reiciendis eum!
                   
                </p>
                <h3>Traveller 1</h3>
                <img src= "https://via.placeholder.com/200" alt="avatar img">

            </div>

            <div class="slide">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    
                   Culpa possimus laboriosam odit provident nemo, voluptatum perferendis. Temporibus dicta omnis animi maiores enim ab 
                   fugiat doloremque dolores accusamus molestiae, reiciendis eum!
                   
                </p>
                <h3>Traveller 2</h3>
                <img src= "https://via.placeholder.com/200" alt="avatar img">

            </div>

            <div class="slide">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    
                   Culpa possimus laboriosam odit provident nemo, voluptatum perferendis. Temporibus dicta omnis animi maiores enim ab 
                   fugiat doloremque dolores accusamus molestiae, reiciendis eum!
                   
                </p>
                <h3>Traveller 3</h3>
                <img src= "https://via.placeholder.com/200" alt="avatar img">

            </div>

            <div class="slide">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    
                   Culpa possimus laboriosam odit provident nemo, voluptatum perferendis. Temporibus dicta omnis animi maiores enim ab 
                   fugiat doloremque dolores accusamus molestiae, reiciendis eum!
                   
                </p>
                <h3>Traveller 4</h3>
                <img src= "https://via.placeholder.com/200" alt="avatar img">

            </div>
            


        </div>
    </div>

</section>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/landingpage.js"></script>