

{{!-- <h1>Results</h1>

<ul>
  {{#each locations}}
    <li>{{name}}</li>
  {{/each}}
</ul> --}}

<!-- results.handlebars -->

{{!-- <ul>
  {{#each resultsData}}
    <li>{{this}}</li>
  {{/each}}
</ul> --}}



<h1>Results</h1>
<p>hello</p>