


<h1>Reviews</h1>
<section class="reviews">
    <div class=" swiper reviews-switch">
        <div class="swiper-wrapper">
            <div class="switch">
                
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    
                   Culpa possimus laboriosam odit provident nemo, voluptatum perferendis. Temporibus dicta omnis animi maiores enim ab 
                   fugiat doloremque dolores accusamus molestiae, reiciendis eum!
                   
                </p>
                <h3>Traveller 1</h3>
                <img src= "https://via.placeholder.com/200" alt="avatar img">

            </div>

            <div class="switch">
                
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    
                   Culpa possimus laboriosam odit provident nemo, voluptatum perferendis. Temporibus dicta omnis animi maiores enim ab 
                   fugiat doloremque dolores accusamus molestiae, reiciendis eum!
                   
                </p>
                <h3>Traveller 2</h3>
                <img src= "https://via.placeholder.com/200" alt="avatar img">

            </div>

            <div class="switch">
                
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    
                   Culpa possimus laboriosam odit provident nemo, voluptatum perferendis. Temporibus dicta omnis animi maiores enim ab 
                   fugiat doloremque dolores accusamus molestiae, reiciendis eum!
                   
                </p>
                <h3>Traveller 3</h3>
                <img src= "https://via.placeholder.com/200" alt="avatar img">

            </div>

            <div class="switch">
                
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    
                   Culpa possimus laboriosam odit provident nemo, voluptatum perferendis. Temporibus dicta omnis animi maiores enim ab 
                   fugiat doloremque dolores accusamus molestiae, reiciendis eum!
                   
                </p>
                <h3>Traveller 4</h3>
                <img src= "https://via.placeholder.com/200" alt="avatar img">

            </div>
            


        </div>
    </div>

</section>

{{!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> --}}


 <a href="/" class="btn">Click here to return to the home page</a>

<script src="js/reviews.js"></script>