@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');



*{
   font-family: 'Times New Roman', Times, serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   /* text-transform: capitalize; */
   /* color: aliceblue; */
}

html{
   font-size: 80.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background-color:rgb(83, 130, 164);
}



.btn{
   /* display: inline-block;
   background: var(--black);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   cursor: pointer; */

   padding-bottom: 40px;
    /* /* padding-top: 20px; */
     /* border-radius: 10px; */
    align-items: center;
    justify-content: center;

}

.btn:hover{
   background: rgb(64, 132, 149);
}





.home .switch{
   text-align: center;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background-size: cover !important;
   background-position: center !important;
   min-height: 60rem;
}

 .switch .info{
   width: 85rem;
   display: none;
}



 .switch .info span{
   display: block;
   font-size: 2.2rem;
   color: var(--light-white);
   padding-bottom: 1rem;
   animation:fadeIn .2s linear backwards .2s;
}

 .switch .info h3{
   font-size: 6vw;
   color:var(--white);
   text-transform: uppercase;
   line-height: 1;
   text-shadow: var(--text-shadow);
   padding:1rem 0;
   animation:fadeIn .2s linear backwards .4s;
}

 .switch .info .btn{
   animation:fadeIn .2s linear backwards .6s;
}


 .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
   gap: 1.5rem;
}

 .box-container .box{
   padding:3rem 2rem;
   text-align: center;
   background: var(--main-color);
   cursor: pointer;
}

 .box-container .box:hover{
   background: var(--black);
}

 .box-container .box img{
   height: 7rem;
}

 .box-container .box h3{
   color:var(--white);
   font-size: 1.7rem;
   padding-top: 1rem;
}


 .image{
   flex:1 1 41rem;
}

 .image img{
   width: 100%;
}

 .info{
   flex:1 1 41rem;
   padding:3rem;
   background: var(--light-bg);
}

 .info h3{
   font-size: 3rem;
   color:var(--black);
}

 .info p{
   font-size: 1.5rem;
   padding:1rem 0;
   line-height: 2;
   color:var(--black);
}


 .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
}

 .box-container .box{
   border:var(--border);
   box-shadow: var(--box-shadow);
   background: var(--white);
}

 .box-container .box:hover .image img{
   transform: scale(1.1);
}

 .box-container .box .image{
   height: 25rem;
   overflow: hidden;
}

 .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

 .box-container .box .info{
   padding:2rem;
   text-align: center;
}

 .box-container .box .info h3{
   font-size: 2.5rem;
   color:var(--black);
}

 .box-container .box .info p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

 .load-more{
   text-align: center;
   margin-top: 2rem;
}


 .info{
   max-width:70rem;
   margin:0 auto;
}

 .info h3{
   font-size: 3.5rem;
   text-transform: uppercase;
   color:var(--black);
}

 .info p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}



 .image{
   flex:1 1 41rem;
}

 .image img{
   width: 100%;
}

 .info{
   flex:1 1 41rem;
   text-align: center;
}

 .info h3{
   font-size: 3rem;
   color:var(--black);
}

 .info p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

 .info .icons-container{
   margin-top: 2rem;
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   align-items: flex-end;
}

 .info .icons-container .icons{
   background: var(--light-bg);
   padding:2rem;
   flex:1 1 16rem;
}

 .info .icons-container .icons i{
   font-size: 4rem;
   margin-bottom: 2rem;
   color:var(--main-color);
}

 .info .icons-container .icons span{
   font-size: 1.5rem;
   color:var(--light-black);
   display:block;
}

.reviews{
   background: var(--light-bg);
}

.reviews .switch{
   padding:2rem;
   border:var(--border);
   background: var(--white);
   text-align: center;
   box-shadow: var(--box-shadow);
   user-select: none;
}

.reviews .switch {
   padding-bottom: .5rem;
}

.reviews .switch{
   font-size: 1.7rem;
   color:var(--main-color);
}

.reviews .switch p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

.reviews .switch h3{
   font-size: 2rem;
   color:var(--black);
}

.reviews .switch span{
   font-size: 1.5rem;
   color:var(--main-color);
   display: block;
}

.reviews .switch img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   margin-top: 1rem;
}

.locations .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
}

.locations .box-container .box{
   border:var(--border);
   box-shadow: var(--box-shadow);
   background: var(--white);
   display: none;
}

.locations .box-container .box:nth-child(1),
.locations .box-container .box:nth-child(2),
.locations .box-container .box:nth-child(3),
.locations .box-container .box:nth-child(4),
.locations .box-container .box:nth-child(5),
.locations .box-container .box:nth-child(6){
   display: inline-block;
}

.locations .box-container .box:hover .image img{
   transform: scale(1.1);
}

.locations .box-container .box .image{
   height: 25rem;
   overflow: hidden;
}

.locations .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

.locations .box-container .box .info{
   padding:2rem;
   text-align: center;
}

.locations .box-container .box .info h3{
   font-size: 2.5rem;
   color:var(--black);
}

.locations .box-container .box .info p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

.locations .load-more{
   text-align: center;
   margin-top: 2rem;
}



/* media queries  */

@media (max-width:1200px){

   section{
      padding:3rem 5%;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   section{
      padding:3rem 2rem;
   }

   .home .switch .info h3{
      font-size: 10vw;
   }

}

@media (max-width:768px){

   .heading h1{
      font-size: 6rem;
   }

   
   .header {
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      padding:2rem;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header  a{
      display: block;
      margin:2rem;
      text-align: center;
   }

}

/* @media (max-width:450px){

   html{
      font-size: 50%;
   }

   
   } */

